main {
    margin-top: 80px;
}

body {
    background:url(/images/background_index.jpg) no-repeat center center fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#pixie{
    position: fixed; 
}
p {
    color: #151515;
    font-size:22px;
}

#left{
    float: left;
    width: 40%;
}
#left p{
    color: darkorange;
    font-size:30px;
}
#left img{
    width: 70%;
    float: left;
}

#msg-box{
    overflow:auto; 
    width:750px; 
    height:300px; 
    border:1px solid black; 
    padding:5px; 
    margin:0px; 
    display:inline-block; 
    background:#FFF; 
    margin:32px 0 0 32px;
}
#msg-box ul{
    list-style:none; 
    padding:0px; 
    margin:0px;
}
#t-box{
    margin-left:32px;
}